AMS/src/META-INF/wsdl/localhost_18026/CARSWebService/CARSWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="CARSWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:18026/CARSWebService/CARSWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="retrieveDoctorByDoctorId">
<part name="parameters" element="tns:retrieveDoctorByDoctorId"/>
</message>
<message name="retrieveDoctorByDoctorIdResponse">
<part name="parameters" element="tns:retrieveDoctorByDoctorIdResponse"/>
</message>
<message name="DoctorNotFoundException">
<part name="fault" element="tns:DoctorNotFoundException"/>
</message>
<message name="retrieveAllDoctors">
<part name="parameters" element="tns:retrieveAllDoctors"/>
</message>
<message name="retrieveAllDoctorsResponse">
<part name="parameters" element="tns:retrieveAllDoctorsResponse"/>
</message>
<message name="getSecurePassword">
<part name="parameters" element="tns:getSecurePassword"/>
</message>
<message name="getSecurePasswordResponse">
<part name="parameters" element="tns:getSecurePasswordResponse"/>
</message>
<message name="updatePatientList">
<part name="parameters" element="tns:updatePatientList"/>
</message>
<message name="updatePatientListResponse">
<part name="parameters" element="tns:updatePatientListResponse"/>
</message>
<message name="PatientNotFoundException">
<part name="fault" element="tns:PatientNotFoundException"/>
</message>
<message name="retrieveLeaveByDateNDoctorId">
<part name="parameters" element="tns:retrieveLeaveByDateNDoctorId"/>
</message>
<message name="retrieveLeaveByDateNDoctorIdResponse">
<part name="parameters" element="tns:retrieveLeaveByDateNDoctorIdResponse"/>
</message>
<message name="deleteAppointment">
<part name="parameters" element="tns:deleteAppointment"/>
</message>
<message name="deleteAppointmentResponse">
<part name="parameters" element="tns:deleteAppointmentResponse"/>
</message>
<message name="createNewAppointment">
<part name="parameters" element="tns:createNewAppointment"/>
</message>
<message name="createNewAppointmentResponse">
<part name="parameters" element="tns:createNewAppointmentResponse"/>
</message>
<message name="retrieveAppointmentByDoctorId">
<part name="parameters" element="tns:retrieveAppointmentByDoctorId"/>
</message>
<message name="retrieveAppointmentByDoctorIdResponse">
<part name="parameters" element="tns:retrieveAppointmentByDoctorIdResponse"/>
</message>
<message name="checkifDocIsOnLeave">
<part name="parameters" element="tns:checkifDocIsOnLeave"/>
</message>
<message name="checkifDocIsOnLeaveResponse">
<part name="parameters" element="tns:checkifDocIsOnLeaveResponse"/>
</message>
<message name="LeaveApplicationException">
<part name="fault" element="tns:LeaveApplicationException"/>
</message>
<message name="retrieveLeaveByDoctorId">
<part name="parameters" element="tns:retrieveLeaveByDoctorId"/>
</message>
<message name="retrieveLeaveByDoctorIdResponse">
<part name="parameters" element="tns:retrieveLeaveByDoctorIdResponse"/>
</message>
<message name="retrieveAppointmentByPatientIdentityNo">
<part name="parameters" element="tns:retrieveAppointmentByPatientIdentityNo"/>
</message>
<message name="retrieveAppointmentByPatientIdentityNoResponse">
<part name="parameters" element="tns:retrieveAppointmentByPatientIdentityNoResponse"/>
</message>
<message name="retrievePatientByPatientIdentityNumber">
<part name="parameters" element="tns:retrievePatientByPatientIdentityNumber"/>
</message>
<message name="retrievePatientByPatientIdentityNumberResponse">
<part name="parameters" element="tns:retrievePatientByPatientIdentityNumberResponse"/>
</message>
<message name="checkApptNotOnWeekendAnd2DaysLater">
<part name="parameters" element="tns:checkApptNotOnWeekendAnd2DaysLater"/>
</message>
<message name="checkApptNotOnWeekendAnd2DaysLaterResponse">
<part name="parameters" element="tns:checkApptNotOnWeekendAnd2DaysLaterResponse"/>
</message>
<message name="CreateAppointmentException">
<part name="fault" element="tns:CreateAppointmentException"/>
</message>
<message name="retrieveAppointmentByAppointmentId">
<part name="parameters" element="tns:retrieveAppointmentByAppointmentId"/>
</message>
<message name="retrieveAppointmentByAppointmentIdResponse">
<part name="parameters" element="tns:retrieveAppointmentByAppointmentIdResponse"/>
</message>
<message name="AppointmentNotFoundException">
<part name="fault" element="tns:AppointmentNotFoundException"/>
</message>
<message name="createPatient">
<part name="parameters" element="tns:createPatient"/>
</message>
<message name="createPatientResponse">
<part name="parameters" element="tns:createPatientResponse"/>
</message>
<message name="InvalidLoginCredentialException">
<part name="fault" element="tns:InvalidLoginCredentialException"/>
</message>
<message name="PatientIdentityNumberExist">
<part name="fault" element="tns:PatientIdentityNumberExist"/>
</message>
<message name="UnknownPersistenceException">
<part name="fault" element="tns:UnknownPersistenceException"/>
</message>
<message name="InputDataValidationException">
<part name="fault" element="tns:InputDataValidationException"/>
</message>
<message name="checkPassword">
<part name="parameters" element="tns:checkPassword"/>
</message>
<message name="checkPasswordResponse">
<part name="parameters" element="tns:checkPasswordResponse"/>
</message>
<message name="PasswordException">
<part name="fault" element="tns:PasswordException"/>
</message>
<message name="updateDoctorList">
<part name="parameters" element="tns:updateDoctorList"/>
</message>
<message name="updateDoctorListResponse">
<part name="parameters" element="tns:updateDoctorListResponse"/>
</message>
<message name="inputIsIncorrect">
<part name="parameters" element="tns:inputIsIncorrect"/>
</message>
<message name="inputIsIncorrectResponse">
<part name="parameters" element="tns:inputIsIncorrectResponse"/>
</message>
<message name="CreatePatientException">
<part name="fault" element="tns:CreatePatientException"/>
</message>
<message name="patientLogin">
<part name="parameters" element="tns:patientLogin"/>
</message>
<message name="patientLoginResponse">
<part name="parameters" element="tns:patientLoginResponse"/>
</message>
<portType name="CARSWebService">
<operation name="retrieveDoctorByDoctorId">
<input wsam:Action="http://ws.session.ejb/CARSWebService/retrieveDoctorByDoctorIdRequest" message="tns:retrieveDoctorByDoctorId"/>
<output wsam:Action="http://ws.session.ejb/CARSWebService/retrieveDoctorByDoctorIdResponse" message="tns:retrieveDoctorByDoctorIdResponse"/>
<fault message="tns:DoctorNotFoundException" name="DoctorNotFoundException" wsam:Action="http://ws.session.ejb/CARSWebService/retrieveDoctorByDoctorId/Fault/DoctorNotFoundException"/>
</operation>
<operation name="retrieveAllDoctors">
<input wsam:Action="http://ws.session.ejb/CARSWebService/retrieveAllDoctorsRequest" message="tns:retrieveAllDoctors"/>
<output wsam:Action="http://ws.session.ejb/CARSWebService/retrieveAllDoctorsResponse" message="tns:retrieveAllDoctorsResponse"/>
</operation>
<operation name="getSecurePassword">
<input wsam:Action="http://ws.session.ejb/CARSWebService/getSecurePasswordRequest" message="tns:getSecurePassword"/>
<output wsam:Action="http://ws.session.ejb/CARSWebService/getSecurePasswordResponse" message="tns:getSecurePasswordResponse"/>
</operation>
<operation name="updatePatientList">
<input wsam:Action="http://ws.session.ejb/CARSWebService/updatePatientListRequest" message="tns:updatePatientList"/>
<output wsam:Action="http://ws.session.ejb/CARSWebService/updatePatientListResponse" message="tns:updatePatientListResponse"/>
<fault message="tns:PatientNotFoundException" name="PatientNotFoundException" wsam:Action="http://ws.session.ejb/CARSWebService/updatePatientList/Fault/PatientNotFoundException"/>
</operation>
<operation name="retrieveLeaveByDateNDoctorId">
<input wsam:Action="http://ws.session.ejb/CARSWebService/retrieveLeaveByDateNDoctorIdRequest" message="tns:retrieveLeaveByDateNDoctorId"/>
<output wsam:Action="http://ws.session.ejb/CARSWebService/retrieveLeaveByDateNDoctorIdResponse" message="tns:retrieveLeaveByDateNDoctorIdResponse"/>
</operation>
<operation name="deleteAppointment">
<input wsam:Action="http://ws.session.ejb/CARSWebService/deleteAppointmentRequest" message="tns:deleteAppointment"/>
<output wsam:Action="http://ws.session.ejb/CARSWebService/deleteAppointmentResponse" message="tns:deleteAppointmentResponse"/>
</operation>
<operation name="createNewAppointment">
<input wsam:Action="http://ws.session.ejb/CARSWebService/createNewAppointmentRequest" message="tns:createNewAppointment"/>
<output wsam:Action="http://ws.session.ejb/CARSWebService/createNewAppointmentResponse" message="tns:createNewAppointmentResponse"/>
</operation>
<operation name="retrieveAppointmentByDoctorId">
<input wsam:Action="http://ws.session.ejb/CARSWebService/retrieveAppointmentByDoctorIdRequest" message="tns:retrieveAppointmentByDoctorId"/>
<output wsam:Action="http://ws.session.ejb/CARSWebService/retrieveAppointmentByDoctorIdResponse" message="tns:retrieveAppointmentByDoctorIdResponse"/>
<fault message="tns:DoctorNotFoundException" name="DoctorNotFoundException" wsam:Action="http://ws.session.ejb/CARSWebService/retrieveAppointmentByDoctorId/Fault/DoctorNotFoundException"/>
</operation>
<operation name="checkifDocIsOnLeave">
<input wsam:Action="http://ws.session.ejb/CARSWebService/checkifDocIsOnLeaveRequest" message="tns:checkifDocIsOnLeave"/>
<output wsam:Action="http://ws.session.ejb/CARSWebService/checkifDocIsOnLeaveResponse" message="tns:checkifDocIsOnLeaveResponse"/>
<fault message="tns:LeaveApplicationException" name="LeaveApplicationException" wsam:Action="http://ws.session.ejb/CARSWebService/checkifDocIsOnLeave/Fault/LeaveApplicationException"/>
</operation>
<operation name="retrieveLeaveByDoctorId">
<input wsam:Action="http://ws.session.ejb/CARSWebService/retrieveLeaveByDoctorIdRequest" message="tns:retrieveLeaveByDoctorId"/>
<output wsam:Action="http://ws.session.ejb/CARSWebService/retrieveLeaveByDoctorIdResponse" message="tns:retrieveLeaveByDoctorIdResponse"/>
<fault message="tns:DoctorNotFoundException" name="DoctorNotFoundException" wsam:Action="http://ws.session.ejb/CARSWebService/retrieveLeaveByDoctorId/Fault/DoctorNotFoundException"/>
</operation>
<operation name="retrieveAppointmentByPatientIdentityNo">
<input wsam:Action="http://ws.session.ejb/CARSWebService/retrieveAppointmentByPatientIdentityNoRequest" message="tns:retrieveAppointmentByPatientIdentityNo"/>
<output wsam:Action="http://ws.session.ejb/CARSWebService/retrieveAppointmentByPatientIdentityNoResponse" message="tns:retrieveAppointmentByPatientIdentityNoResponse"/>
<fault message="tns:PatientNotFoundException" name="PatientNotFoundException" wsam:Action="http://ws.session.ejb/CARSWebService/retrieveAppointmentByPatientIdentityNo/Fault/PatientNotFoundException"/>
</operation>
<operation name="retrievePatientByPatientIdentityNumber">
<input wsam:Action="http://ws.session.ejb/CARSWebService/retrievePatientByPatientIdentityNumberRequest" message="tns:retrievePatientByPatientIdentityNumber"/>
<output wsam:Action="http://ws.session.ejb/CARSWebService/retrievePatientByPatientIdentityNumberResponse" message="tns:retrievePatientByPatientIdentityNumberResponse"/>
<fault message="tns:PatientNotFoundException" name="PatientNotFoundException" wsam:Action="http://ws.session.ejb/CARSWebService/retrievePatientByPatientIdentityNumber/Fault/PatientNotFoundException"/>
</operation>
<operation name="checkApptNotOnWeekendAnd2DaysLater">
<input wsam:Action="http://ws.session.ejb/CARSWebService/checkApptNotOnWeekendAnd2DaysLaterRequest" message="tns:checkApptNotOnWeekendAnd2DaysLater"/>
<output wsam:Action="http://ws.session.ejb/CARSWebService/checkApptNotOnWeekendAnd2DaysLaterResponse" message="tns:checkApptNotOnWeekendAnd2DaysLaterResponse"/>
<fault message="tns:CreateAppointmentException" name="CreateAppointmentException" wsam:Action="http://ws.session.ejb/CARSWebService/checkApptNotOnWeekendAnd2DaysLater/Fault/CreateAppointmentException"/>
</operation>
<operation name="retrieveAppointmentByAppointmentId">
<input wsam:Action="http://ws.session.ejb/CARSWebService/retrieveAppointmentByAppointmentIdRequest" message="tns:retrieveAppointmentByAppointmentId"/>
<output wsam:Action="http://ws.session.ejb/CARSWebService/retrieveAppointmentByAppointmentIdResponse" message="tns:retrieveAppointmentByAppointmentIdResponse"/>
<fault message="tns:AppointmentNotFoundException" name="AppointmentNotFoundException" wsam:Action="http://ws.session.ejb/CARSWebService/retrieveAppointmentByAppointmentId/Fault/AppointmentNotFoundException"/>
</operation>
<operation name="createPatient">
<input wsam:Action="http://ws.session.ejb/CARSWebService/createPatientRequest" message="tns:createPatient"/>
<output wsam:Action="http://ws.session.ejb/CARSWebService/createPatientResponse" message="tns:createPatientResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/CARSWebService/createPatient/Fault/InvalidLoginCredentialException"/>
<fault message="tns:PatientIdentityNumberExist" name="PatientIdentityNumberExist" wsam:Action="http://ws.session.ejb/CARSWebService/createPatient/Fault/PatientIdentityNumberExist"/>
<fault message="tns:UnknownPersistenceException" name="UnknownPersistenceException" wsam:Action="http://ws.session.ejb/CARSWebService/createPatient/Fault/UnknownPersistenceException"/>
<fault message="tns:InputDataValidationException" name="InputDataValidationException" wsam:Action="http://ws.session.ejb/CARSWebService/createPatient/Fault/InputDataValidationException"/>
</operation>
<operation name="checkPassword">
<input wsam:Action="http://ws.session.ejb/CARSWebService/checkPasswordRequest" message="tns:checkPassword"/>
<output wsam:Action="http://ws.session.ejb/CARSWebService/checkPasswordResponse" message="tns:checkPasswordResponse"/>
<fault message="tns:PasswordException" name="PasswordException" wsam:Action="http://ws.session.ejb/CARSWebService/checkPassword/Fault/PasswordException"/>
</operation>
<operation name="updateDoctorList">
<input wsam:Action="http://ws.session.ejb/CARSWebService/updateDoctorListRequest" message="tns:updateDoctorList"/>
<output wsam:Action="http://ws.session.ejb/CARSWebService/updateDoctorListResponse" message="tns:updateDoctorListResponse"/>
<fault message="tns:DoctorNotFoundException" name="DoctorNotFoundException" wsam:Action="http://ws.session.ejb/CARSWebService/updateDoctorList/Fault/DoctorNotFoundException"/>
</operation>
<operation name="inputIsIncorrect">
<input wsam:Action="http://ws.session.ejb/CARSWebService/inputIsIncorrectRequest" message="tns:inputIsIncorrect"/>
<output wsam:Action="http://ws.session.ejb/CARSWebService/inputIsIncorrectResponse" message="tns:inputIsIncorrectResponse"/>
<fault message="tns:CreatePatientException" name="CreatePatientException" wsam:Action="http://ws.session.ejb/CARSWebService/inputIsIncorrect/Fault/CreatePatientException"/>
</operation>
<operation name="patientLogin">
<input wsam:Action="http://ws.session.ejb/CARSWebService/patientLoginRequest" message="tns:patientLogin"/>
<output wsam:Action="http://ws.session.ejb/CARSWebService/patientLoginResponse" message="tns:patientLoginResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/CARSWebService/patientLogin/Fault/InvalidLoginCredentialException"/>
</operation>
</portType>
<binding name="CARSWebServicePortBinding" type="tns:CARSWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="retrieveDoctorByDoctorId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DoctorNotFoundException">
<soap:fault name="DoctorNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveAllDoctors">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSecurePassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updatePatientList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PatientNotFoundException">
<soap:fault name="PatientNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveLeaveByDateNDoctorId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteAppointment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createNewAppointment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveAppointmentByDoctorId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DoctorNotFoundException">
<soap:fault name="DoctorNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="checkifDocIsOnLeave">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="LeaveApplicationException">
<soap:fault name="LeaveApplicationException" use="literal"/>
</fault>
</operation>
<operation name="retrieveLeaveByDoctorId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DoctorNotFoundException">
<soap:fault name="DoctorNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveAppointmentByPatientIdentityNo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PatientNotFoundException">
<soap:fault name="PatientNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrievePatientByPatientIdentityNumber">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PatientNotFoundException">
<soap:fault name="PatientNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="checkApptNotOnWeekendAnd2DaysLater">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CreateAppointmentException">
<soap:fault name="CreateAppointmentException" use="literal"/>
</fault>
</operation>
<operation name="retrieveAppointmentByAppointmentId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AppointmentNotFoundException">
<soap:fault name="AppointmentNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="createPatient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
<fault name="PatientIdentityNumberExist">
<soap:fault name="PatientIdentityNumberExist" use="literal"/>
</fault>
<fault name="UnknownPersistenceException">
<soap:fault name="UnknownPersistenceException" use="literal"/>
</fault>
<fault name="InputDataValidationException">
<soap:fault name="InputDataValidationException" use="literal"/>
</fault>
</operation>
<operation name="checkPassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PasswordException">
<soap:fault name="PasswordException" use="literal"/>
</fault>
</operation>
<operation name="updateDoctorList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DoctorNotFoundException">
<soap:fault name="DoctorNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="inputIsIncorrect">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CreatePatientException">
<soap:fault name="CreatePatientException" use="literal"/>
</fault>
</operation>
<operation name="patientLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
</binding>
<service name="CARSWebService">
<port name="CARSWebServicePort" binding="tns:CARSWebServicePortBinding">
<soap:address location="http://localhost:18026/CARSWebService/CARSWebService"/>
</port>
</service>
</definitions>